html, body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
}

canvas {
    display: block; /* Elimina el pequeño espacio inferior que algunos navegadores aplican por defecto */
    height: auto; /* Permite que la altura sea dinámica */
}

#color-selector {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

header > h1, p {
    position: absolute;
    color: white;
    pointer-events: none;
    cursor: none;
}

p {
    top: 3vw
}



.selected-color-text {
    position: absolute;
    left: 50%;
    color: white;
}

.color {
    height: 2vw;
    width: 2vw;
    border: none;
    margin-left: 20px;
    background-color: transparent;
    padding: 0;

    &.color-selected {
        outline: 1px solid black;
        transform: scale(3px, 3px);
    }
    
}

@media screen and (max-width: 992px) {
    header > h1 {
        font-size: 40px;
    }

    header > p {
        top: 30px;
        font-size: 30px;
    }

    header > h1, p {
        left: 30px;
    }

    #color-selector {
        left: 0;
        flex-direction: column;
        width: 20vw;
        top: 20vh;

    }

    .color {
        height: 5vw;
        width: 5vw;
        margin: 5px auto 0 auto;
    }

    p {
        top: 4vh;
    }

    #form-color-selector {
        display: flex;
        flex-direction: column;
    }

    #edit-button {
        font-size: 10px;
    }

    .selected-color-text {
        position: relative;
        margin: 0 auto;
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    header > h1 {
        font-size: 20px;
    }

    header > p {
        top: 60px;
        font-size: 15px;
    }

    header > h1, p {
        left: 30px;
    }
}