html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
}

canvas {
    display: block; /* Elimina el pequeño espacio inferior que algunos navegadores aplican por defecto */
    height: auto; /* Permite que la altura sea dinámica */
}

#color-selector {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

header > h1, p {
    position: absolute;
    color: white;
    pointer-events: none;
    cursor: none;
}

p {
    top: 3vw
}

.selected-color-text {
    position: absolute;
    left: 50%;
    color: white;
}

.color {
    height: 2vw;
    width: 2vw;
    border: none;
    margin-left: 20px;
    -webkit-appearance: none; /* Para Safari y Chrome */
    -moz-appearance: none; /* Para Firefox */
    appearance: none; /* Estándar */
    background-color: transparent;
    padding: 0;

    &.color-selected {
        outline: 1px solid black;
        transform: scale(3px, 3px);
    }
    
}